<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="Generator" content="EditPlus®">
      <meta name="Author" content="">
      <meta name="Keywords" content="">
      <meta name="Description" content="">
      <script type="text/javascript" src="jquery.min.js"></script>
      <title>Document</title>
  </head>
  <body>
    <span>这是一个注册页面</span>
  </body>
</html>

<!-- <svg viewBox="0 0 1024 872" y="872" x="1024" overflow="visible" id="svgcontent" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" height="872" width="1024">

<svg width="314.0625" height="200" viewBox="0 0 314.0625 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> -->